#footer{
  background-color: #F5F5F5;
  font-family: $base_font;
  padding: 50px;
  .left-foot{
    h1{
      font-size: 15px;
      line-height: 1.7;
      color: rgb(84, 84, 84);
      span{
        font-weight: 600;
      }
    }
    .link{
      margin-top: 20px;
      a{ 
        color: black;
      }
    }
    .icones{
      margin-top: 40px;
      i{
        width: 45px;
        height: 45px;
        margin: 4px;
        padding: 8px;
        border: 1px solid black;
        border-radius: 100%;
        font-size: 18px;
        transition: 0.3s ease-in-out;
        &:hover{
          color: rgb(241, 86, 86);
          border: 1px solid rgb(245, 110, 110);
        }
      }
    }

  }
  .center-foot{
    h1{
      margin-bottom: 35px;
      color: #000000;
      font-size: 18px;
    }
    h2{
      color: rgb(54,54,54);
      font-size: 12px;
      line-height: 2.2;
    }
    .input{
      display: flex;
      flex-direction: row;
      margin-top: 23px;
      background-color: white;
      border: 1px solid rgb(234, 232, 232);
      padding: 10px 30px;
      overflow: hidden;
     input{
      background-color: transparent;
      border: none;  
      flex-grow: 1;  
      padding: 0;
     }
     
      a{ 
        display: inline-flex;  
        align-items: center;  
        padding: 10px 15px;
        border-radius: 3px;
        background-color: black;
        text-decoration: none;
        color: white;
        font-size: 14px;
        i {
          margin-left: 8px;  
        }
      }
    
    }
    .right_header{
      @include Flexible(flex-start, center,row, wrap, 20px);
      margin-top: 30px;
      .usd{
        @include Flexible(flex-start, center,row, wrap, 8px);
        img{
          display: inline-block;
          width: 16px;
          height: 12px;
          max-width: 100%;
          height: auto;
        }
        h3{
          font-size: 14px;
          color: #000000
        }
        i{
          font-size: 18px;
          
        }
      }
      .english{
        @include Flexible(flex-start, center,row, wrap, 8px);
        h3{
          font-size: 14px;
          color: #000000
        }
        i{
          font-size: 18px;
        }
      }
     }
  }
 
}